@model admincore.Models.EventViewModel
@{
    if (Model.Id > 0)
    {

        ViewData["Title"] = "Edit Event";
    }
    else
    {
        ViewData["Title"] = "Add new Event";

    }

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">

    .textbox {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: black;
        font-family: arial, sans-serif;
        box-shadow: none !important;
        width: 35%;
        font-size: 1.5em;
        font-weight: 300;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
    }

    .date {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: black;
        font-family: arial, sans-serif;
        box-shadow: none !important;
        width: 35%;
        font-size: 1.5em;
        font-weight: 300;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
        text-align: center;
    }
</style>

@{
    if (Model.Id > 0)
    {
        <h1 style="text-align: center"> Edit Event</h1>
    }
    else
    {
        <h1 style="text-align: center">Add new Event</h1>
    }

}
<form asp-action="Save" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Title</td>
                    <td>
                        <input type="text" class="textbox" asp-for="@Model.Title">
                        <span asp-validation-for="@Model.Title" class="text-danger" />
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Select Date</td>
                    <td>
                        <input type="date" class="date" asp-for="@Model.Date" />
                        <span asp-validation-for="@Model.Date" class="text-danger" />
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Select Priority</td>
                    <td>
                        <select asp-for="@Model.Priority" asp-items="@ViewBag.Priorities"></select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Select Status</td>
                    <td>
                        <select asp-for="@Model.EventStatus" asp-items="@ViewBag.Statuses"></select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Event Document</td>
                    <td>
                        @{
                            if (Model.DocId > 0)
                            {
                                <a href="@Model.DocUrl">@Model.DocName </a> <a href="javascript:void(0)" id="deleteDoc" data-id="@Model.DocId" style="color:red"> X</a>

                            }
                            else
                            {
                                <input type="file" class="btn btn-default btn-file" asp-for="@Model.File" />
                                <span asp-validation-for="@Model.File" class="text-danger" /><br>
                            }
                        }


                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Event Image</td>
                    <td>
                        @{
                            @*<input type="file" class="btn btn-default btn-file" asp-for="@Model.Image" />
                                <span asp-validation-for="@Model.Image" class="text-danger" /><br>*@
                            if (Model.ImgId > 0)
                            {

                                <a href="@Model.ImageUrl">@Model.ImageName </a> <a href="javascript:void(0)" id="deleteImg" data-id="@Model.ImgId" style="color:red"> X</a>
                            }

                            else
                            {

                                <input type="file" accept="image/*" class="btn btn-default btn-file" asp-for="@Model.Image" />
                                <span asp-validation-for="@Model.Image" class="text-danger" /><br>
                            }
                        }

                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Description</td>
                    <td>
                        <textarea asp-for="@Model.Description" style="height: 253px; width: 542px;">
                        
                    </textarea>
                        <span asp-validation-for="@Model.Description" class="text-danger" />
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>

                        <a class="btn btn-danger pull-right" href="/Event"><i class="fa fa-times"></i> Cancel</a>
                        <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>
</form>
@section EndScripts{
    <script type="text/javascript" src="~/js/Event/AddEdit.js"></script>
}
