@model List<CityCore.Models.PhotoViewModel>
@{
    ViewData["Title"] = "Album Photos";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <div class="content_fullwidth">
        <h2><strong>@ViewBag.AlbumName </strong>(@Model.Count)</h2>
        @{ var counter = 0;
            foreach (var item in Model)
            {
                counter++;
                var isFourth = counter % 4 == 0;
                var albmClass = isFourth ? "one_fourth last" : "one_fourth";
                <div class="@albmClass">
                    <div class="portfolio_image">
                        <i class="icon-search icon-2x"></i>
                        <img class="preview" data-pic-title="@item.Photoname" data-pic="@item.Url" src="@item.Url" alt="" height="178" width="249" />
                        <div class="title"> <strong>@item.Photoname</strong></div>
                    </div>
                </div><!-- end section -->
            }
        }
        <div class="clearfix"></div>
        <div class="mar_top5"></div>
    </div>
</div><!-- end content area -->
<img id="preview" data-pic-title="" data-pic="https://cdn.tutsplus.com/net/uploads/legacy/206_imgPreview/20090212-233015.png"
     src="~/images/abd.jpg"
     height="30"
     width="37">

<div class="clearfix mar_top4"></div>
@section EndScripts{


    <script type="text/javascript" src="~/js/viewer.js"></script>
    <script type="text/javascript" src="~/js/jquery-viewer.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            var $image = $('#preview');

            $image.viewer({
                inline: true,
                viewed: function () {
                    $image.viewer('zoomTo', 1);
                }
            });

            // Get the Viewer.js instance after initialized
            var viewer = $image.data('viewer');
        });

    </script>
}
