@model List<CityCore.Models.AlbumViewModel>
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <div class="content_fullwidth">
        <h2><strong>All Albums</strong>(@Model.Count)</h2>
        @{ var counter = 0;
            foreach (var item in Model)
            {
                counter++;
                var isFourth = counter % 4 == 0;
                var albmClass = isFourth ? "one_fourth last" : "one_fourth";
                <div class="@albmClass">
                    <div class="portfolio_image">
                        <i class="icon-search icon-2x"></i>
                        <a class="fancybox" href="/Events/AlbumPhotos?AlbumId=@item.Id" data-fancybox-group="gallery" title="View Album"><div class="hover_effct3"></div><img src="@item.CoverImage" alt="" height="178" width="249"/></a>
                        <div class="title"> <strong>@item.Albumname</strong> (@item.NoOfPhotos Photos)</div>
                    </div>
                </div><!-- end section -->
            }
        }
        <div class="clearfix"></div>
        <div class="mar_top5"></div>
    </div>
</div><!-- end content area -->
<div class="clearfix mar_top4"></div>
